footer {
    background-color: #2c2c2d;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div p {
    margin: 0;
    font-size: 10px;
}

footer div p:hover {
    color: #001180;
}

.footer-social img {
    width: 26px;
    height: 26px;
    margin: 0 20px;
}