.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.portada h1 {
    font-size: 70px;
    color: #001180;
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin: 50px 0 0 0;
}


.portada p {
    font-size: 28px;
    color: #8d8d8d;
    display: flex;
    justify-content: center;
    font-weight: 700;

}

.botones-portada {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 60px 0 0 0;
}

.botones-portada button {
    height: 50px;
    width: 250px;
    margin: 0 12px;
    border-radius: 25px;
    border: solid 2px #001180;
    background: radial-gradient(circle, rgb(205, 205, 255), rgb(215, 255, 255));
    color: #001180;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: #8d8d8d 2px 2px 6px;

}

.botones-portada button:hover {
    background: radial-gradient(circle, rgb(150, 150, 255), rgb(180, 255, 255));
    box-shadow: #4934a4 2px 2px 6px;
}

.estadisticas {
    display: flex;
    justify-content: space-around;
    margin: 40px;
    padding: 20px;
    margin: 40px 40px;
    gap: 20px;
}

.estadisticas div {
    text-align: center;
    border: #a4d4b6 4px solid;
    border-radius: 8px;
    background-color: #e0fdff;
    padding: 24px;
    height: 80px;
    width: 250px;
    color: cadetblue;
    box-shadow: #8d8d8d 2px 2px 6px;
}