.itemcard {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 250px;
  margin: 16px;
}

.itemcard:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.itemcard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-between;
}

.info h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #222;
}

.categoria {
  font-size: 16px;
  color: #888;
  margin-bottom: 0px;
}

.descripcion {
  font-size: 12px;
  color: #555;
  margin-bottom: 0px;
}

.button-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 10px;
}

.precio {
  color: #28a745;
  font-weight: 700;
  font-size: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 2px 2px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 8px;
}

button:hover {
  background-color: #0056b3;
}