.cart-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #457dec;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cart-widget:hover {
  background-color: #f30404;
}
.cart-widget img {
  width: 20px;
  height: 20px;
}

.cart-widget span {
  margin-left: 8px;
  color: #000000;
  font-weight: bold;
  font-size: 8px;
}