button {
  height: 40px;
  width: 80px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cart-widget img {
  width: 26px;
  height: 26px;

}

.cart-widget div {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-widget div span {

  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}