nav {
  background: linear-gradient(to right, blue, cyan);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav section {
  display: flex;
  align-items: center;
  gap: 24px;
}

nav section h1 {
  margin: 0;
  font-size: 32px;
  color: white;
}

nav section a {
  color: white;
}

.navbar a {
  color: white;
  font-size: 18px;
  margin: 0 12px;
}

.navbar a:hover {
  color: rgb(0, 21, 255);
}