
  nav {
    background: linear-gradient(to right, blue, cyan);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav section {
    display: flex;
    align-items: center;  
    gap: 24px;
  }
  nav h1 {
    margin: 0;
    font-size: 32px;
  }
  .navbar a {
    color: white;
    font-size: 18px;
    margin: 0 12px;
  } 